// Font 
@font-face {
  font-family: "main-font";
  src: url(../../assets/fonts/Inter.ttf);
}

$main-font: "main-font", sans-serif;

// Colors
$main-color : #3700B3;
$mayo : #dbac0c ;
$ketchup : #cb2c1b ;
$dark-blue: #3c3dab;
$light-blue:#87d9f4 ;


